<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<div class="block block-1" style="margin-top: 20px;">
  <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, provident est modi maiores illum sapiente eos
    tenetur voluptatem at nesciunt, sit ducimus. Aliquid commodi aspernatur harum vitae nemo ipsa sed.</p>
</div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">proyectos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>